.todoListContainer {
  width: 100%;
  margin-top: 20px;
}

.todoItemHeader {
  background-color: rgba(0, 157, 255, 0.773);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}