input {
    cursor: inherit;
}

.todoItemContainer {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px black;
    cursor: pointer;
}

.todoItemContainer:not(:last-child){
    margin-bottom: 20px;
}

.todoItemContainer div:not(:last-child) {
    width: 330px;
}

.todoItemContainer div:last-child {
    width: 160px;
    text-align: end;
}

.todoCard {
    border-radius: 20px;
    position: absolute;
    padding: 20px;
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: show 0.7s ease;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.093), -2px -2px 10px rgba(0, 0, 0, 0.093);
}

.doneStatus {
    color: green;
}

.notDoneStatus {
    color: red;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.description p:first-child {
    font-weight: 600;
    margin-bottom: 20px;
}

.status {
    margin-top: 20px;
}

@keyframes show {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}